@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

section {
  margin-top: 3rem;
}

.header {
  position: relative;
  text-align: center;
  font-family: "Bangers", cursive;
  font-size: 3rem;
}

.great {
  color: green;
}

.cheer {
  color: rgb(208, 46, 100);
}

.img {
  position: relative;
  top: 50px;
  width: 500px;
  height: 500px;
  object-fit: cover;
  display: block;
  margin: 0px auto;
}

.mainbutton {
  position: relative;
  top: 100px;
  text-align: center;
}
